*{
    font-family: "Open Sans", sans-serif;
    /* margin: 0px;
    padding: 0px; */
}
body{
    min-height: 100vh;
}
/* shared style */
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, bottom right;
    background-color: #FFF8F3;
    margin-bottom: 100px;
    
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px;
    border-radius: 5px;
    font-size: 20px;
    border: none;

}

/* nav style  */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 230px 0px 226px;
    align-items: center;
    
    
}
.navbar ul{
    text-decoration: none;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.nav-items{
    display: flex;
    gap: 51px;
    align-items: center;
}
.nav-items li{
    list-style: none;
    font-size: 20px;
    
}
.nav-items a{
    text-decoration: none;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px 0px 180px;
   
}
.banner-text{
    width: 585px;
    margin: 40px 91px 0px 100px;
    /* border: 2px solid tomato; */
    padding: 20px;
    text-align: start;

}
.banner-text h4{
    font-size: 45px;
    font-weight: 600;
    

}
.banner-text h1{
    font-size: 80px;
    margin-top: 0px;
}

.banner img{
    margin-left: 100px;
    
    
}

.banner-text button{
    margin-left: 20px;
}

/* main style  */
main{
    width: 80%;
    margin: 0px auto 120px auto;
}
.about-box{
   
    /* border: 2px solid tomato; */
    
    background-color: #FFF8F3;
    border-radius: 10px;

}
.about-text{
    text-align: center;
    padding: 80px 40px;
}
.details{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.detail-info{
    display: flex;
    justify-content: space-between;
    
}
.about-box{
    background-color: #FFF8F3;
    border-radius: 10px;
    margin-bottom: 100px;
}
.about-text h2{
    font-weight: bold;
    font-size: 35px;
}

.about-text p{
    font-size: 18px;
}
.about-description{
    font-weight: bold;
    font-size: 20px;
}
.about-item{
    display: flex;
    justify-content: space-around;
    
}
.skill-text{
    text-align: center;
}
.skill-text h2{
    font-size: 35px;
}
.skill-text p{
    color: #757575;
    margin: 30px auto;   
}

.skill-box{
    width: 260px;
    text-align: start;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-name{
    margin-bottom: 100px;
}
.skill-container{
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 60px;
}

.resume-contaienr{
   display: flex;
   gap: 20px;
   align-items: center;
}
.summary-title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 110px;
}

.summray{
    justify-content: center;
}
.summray button{
    margin-top: 30px;
    margin-left: 600px;
    margin-bottom: 110px;
}
.footer{
    align-items: center;
    
}
.footer-container{
    display: flex;
    gap: 117px;
    background-color: #FFF8F3;
    padding: 130px 50px;
    
}

.footer-column1{
    /* border: 2px solid tomato; */
    /* padding: 20px 30px; */
    margin-left: 160px;
}
.footer-column1 h2{
    font-weight: bold;
    font-size: 35px;
}
.footer-column2 h2{
    font-weight: bold;
    font-size: 35px;
}

.lead-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.form{
    width: 461px;
    height: 64px;
    padding-left: 20px;
    border: none;
}
#message-form{
    height: 150px;
    text-align: start;
}
#submit-button{
    margin-top: 20px;
    margin-bottom: 130px;
}

.social-logo{
    display: flex;
    gap: 30px;
}